data/
sample_compounds.parquet
extractor.py
file_structure.txt
gen_chem_data.py
sample_data.py
SureChEMBLE_ftp_downloader.py
# Python
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Spark
spark-warehouse/

# Logs
logs/
*.log

# Data
data/raw/
data/processed/
data/parquet/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env